<html>

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <title>Diabo Predict</title>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <style>
        /* CSS code for button */


        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-size: 17px;
        }

        body {
            background: #c0392b;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
          }
          .content {
            position: fixed;
            bottom: 0;
            background: #0D0D0D;
            color: #f1f1f1;
            width: 100%;
            padding: 5px;
          }
    </style>
</head>

<body>
    <!-- Java Script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

   

    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Diabo Predict</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
              <a class="nav-link" href="/Info">About</a>
              <a class="nav-link" href="/team">Team</a>
              <a class="nav-link" href="/contact">Contact</a>
            </div>
          </div>
          <form class="d-flex">
            <h4 style="color:white;">Welcome {{name}} !</h4>
            &nbsp&nbsp
            <a class="btn btn-success" href="/signout" role="button">Sign Out</a>
          </form>
        </div>
      </nav>

    <br>
    <br>
    <div class="container">
        <form>
            <fieldset>
                <div class="card card-body">
                    <legend>
                        <h4 class="text-success"><b>Problem Statement</b></h4>
                        <h6>Clinical decisions are often made based on doctors’ experience and intuition rather than on
                            the knowledge-rich data hidden in the data. This leads to errors and high costs that affect the
                            quality of the medical services. The use of analytic tools and data modelling can aid in the improvement of clinical decisions.
                            Thus, the goal here is to build a web application to help doctors diagnose
                            diabetes using a web browser.</h6>
                    </legend>
                    <br>
                </div>
<br><br>
                <div class="card card-body">
                    <legend>
                        <h4 class="text-success"><b>Feature</b></h4>
                       <h6>We collected the diabetets dataset from UCI ML. The dataset has the following 5 attributes:</h6>
                        <br>
                        <h6><b>Age:</b> Age in years.</h6>
                        <h6><b>BMI:</b> BMI stand for Body Mass Index. </h6>
                        <h6> <b>Insulin:</b> Controls the level of glucose in body,</h6>
                        <h6><b>Diabes PF: </b>Related to your family history.  </h6>
                        <h6> <b>Glucose:</b> Level of glucose in mg/dl.</h6>

                    </legend>
                    <br>
                </div>
                <br><br>
                <div class="card card-body">
                    <legend>
                        <h4 class="text-success"><b>Result</b></h4>
                        <h6>We are able to predict whether the person has Diabetes or not. It will be helpful in remote places to mass test with only few machnies to classify people for further awareness.</h6>
                    </legend>
                    <br>
                </div>

            </fieldset>
        </form>

    </div>
    <br>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <div class="content">

        <p style="text-align: center;">Group 09 : Information Technology, G.H.Raisoni College of Engineering @Diabo Predict 2022 By <b>Jay Rachelwar</b></p>
    
      </div>

</body>

</html>
